# Tarea 1: Paulina Duque
¿Cuándo hubo más gente en cuarentena desde marzo del 2020 por región?

Encontrar los datos necesarios: los datas sets elegidos son: Data Product 2 y Data Product 29
Trabajo colaborativo en la recolección y limpieza de datos

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import io
from scipy import stats
from statsmodels import robust
%matplotlib inline

In [2]:
df1 = pd.read_csv('https://github.com/MinCiencia/Datos-COVID19/blob/master/output/producto1/Covid-19.csv?raw=true', sep=',')
df2= pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto29/Cuarentenas-Totales.csv')

Limpieza de Datos

In [3]:
df1.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,2020-03-30,2020-04-01,2020-04-03,2020-04-06,2020-04-08,...,2021-09-10,2021-09-13,2021-09-17,2021-09-20,2021-09-24,2021-09-27,2021-10-01,2021-10-04,2021-10-08,Tasa
0,Arica y Parinacota,15,Arica,15101.0,247552.0,6.0,6.0,12.0,41.0,63.0,...,29763.0,29836.0,29929.0,30002.0,30128.0,30239.0,30376.0,30463.0,30536.0,12335.2
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0,0.0,0.0,0.0,0.0,...,67.0,67.0,70.0,70.0,70.0,70.0,70.0,70.0,70.0,5677.2
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0,0.0,0.0,0.0,0.0,...,88.0,88.0,88.0,88.0,88.0,88.0,88.0,88.0,88.0,10864.2
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0,0.0,0.0,0.0,0.0,...,205.0,207.0,208.0,207.0,211.0,215.0,213.0,213.0,213.0,8469.2
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,158.0,163.0,161.0,163.0,165.0,165.0,167.0,170.0,175.0,NaN

In [4]:
df2.head()

,ID,Nombre,Estado,Alcance,Fecha de Inicio,Fecha de Término,Código CUT Comuna,Detalle,Superficie en m2,Perímetro en m,Region,n_REGION
0,1,Arica,Histórica,Área Urbana Completa,2020-04-16 22:00:00,2020-05-15 22:00:00,15101,Corresponde al Radio Urbano de la Ciudad de Ar...,28050418.80,48722.30001,15,R15
1,2,Santiago Norte,Histórica,Sector Específico,2020-04-13 05:00:00,2020-05-05 22:00:00,13101,Corresponde a la extensión de la cuarentena en...,19939218.57,21599.35134,13,R13
2,3,Puente Alto Poniente,Histórica,Sector Específico,2020-04-09 22:00:00,2020-05-08 22:00:00,13201,Corresponde al sector delimitado por la Av. Co...,42364268.21,30428.05152,13,R13
3,4,El Bosque,Histórica,Comuna completa,2020-04-16 22:00:00,2020-09-21 05:00:00,13105,Aplicada a la totalidad de la comuna. Se incor...,20622713.23,18788.87075,13,R13
4,5,San Bernardo Nororiente,Histórica,Sector Específico,2020-04-16 22:00:00,2020-05-08 22:00:00,13401,Corresponde al sector delimitado por los limit...,16326216.83,24929.14572,13,R13

In [5]:
df1_1 = df1[['Region','Codigo region','Codigo comuna','Comuna','Poblacion']]

In [6]:
df1_1.head()

,Region,Codigo region,Codigo comuna,Comuna,Poblacion
0,Arica y Parinacota,15,15101.0,Arica,247552.0
1,Arica y Parinacota,15,15102.0,Camarones,1233.0
2,Arica y Parinacota,15,15202.0,General Lagos,810.0
3,Arica y Parinacota,15,15201.0,Putre,2515.0
4,Arica y Parinacota,15,NaN,Desconocido Arica y Parinacota,NaN

In [7]:
#podemos ver NaN por tanto se elimnan con dropna.

In [8]:
df1_2=df1_1.dropna()

In [9]:
df1_2.head()

               Region  Codigo region  Codigo comuna         Comuna  Poblacion
0  Arica y Parinacota             15        15101.0          Arica   247552.0
1  Arica y Parinacota             15        15102.0      Camarones     1233.0
2  Arica y Parinacota             15        15202.0  General Lagos      810.0
3  Arica y Parinacota             15        15201.0          Putre     2515.0
5            Tarapacá              1         1107.0  Alto Hospicio   129999.0

In [10]:
df1_2['Codigo comuna'].astype(int)

0      15101
1      15102
2      15202
3      15201
5       1107
       ...
356    12101
357    12103
358    12104
359    12303
360    12402
Name: Codigo comuna, Length: 346, dtype: int32

In [11]:
#para df2 se hace lo mismo de eliminar columnas que no sirven

In [36]:
df2_1 = df2[['ID','Nombre','Fecha de Inicio','Fecha de Término','Código CUT Comuna', 'Region', 'n_REGION']]

In [13]:
df2_1.head()

,ID,Nombre,Fecha de Inicio,Fecha de Término,Código CUT Comuna,Region,n_REGION
0,1,Arica,2020-04-16 22:00:00,2020-05-15 22:00:00,15101,15,R15
1,2,Santiago Norte,2020-04-13 05:00:00,2020-05-05 22:00:00,13101,13,R13
2,3,Puente Alto Poniente,2020-04-09 22:00:00,2020-05-08 22:00:00,13201,13,R13
3,4,El Bosque,2020-04-16 22:00:00,2020-09-21 05:00:00,13105,13,R13
4,5,San Bernardo Nororiente,2020-04-16 22:00:00,2020-05-08 22:00:00,13401,13,R13

In [14]:
df2_2=df2_1.rename(columns={'Código CUT Comuna':'CODIGO COMUNA'})
df1_3=df1_2.rename(columns={'Codigo comuna':'CODIGO COMUNA'})

In [24]:
dff=df1_3.merge(df2_2, on='CODIGO COMUNA')

In [25]:
dff.head()

,Region_x,Codigo region,CODIGO COMUNA,Comuna,Poblacion,ID,Nombre,Fecha de Inicio,Fecha de Término,Region_y,n_REGION
0,Arica y Parinacota,15,15101.0,Arica,247552.0,1,Arica,2020-04-16 22:00:00,2020-05-15 22:00:00,15,R15
1,Arica y Parinacota,15,15101.0,Arica,247552.0,99,Arica Re-Ingreso urbano,2020-07-14 22:00:00,2020-11-09 05:00:00,15,R15
2,Tarapacá,1,1107.0,Alto Hospicio,129999.0,57,Alto Hospicio,2020-05-15 22:00:00,2020-10-03 05:00:00,1,R01
3,Tarapacá,1,1101.0,Iquique,223463.0,58,Iquique,2020-05-15 22:00:00,2020-10-03 05:00:00,1,R01
4,Tarapacá,1,1401.0,Pozo Almonte,17395.0,80,Pozo Almonte (Radio Urbano),2020-06-12 22:00:00,2020-09-28 05:00:00,1,R01

In [32]:
dff['Fecha de Inicio'] = dff['Fecha de Inicio'].apply(lambda x: x.split(' ')[0])
dff['Fecha de Término'] = dff['Fecha de Término'].apply(lambda x: x.split(' ')[0])

dff['INICIO'] = pd.to_datetime(dff['Fecha de Inicio'], format='%Y/%m/%d')
dff['TERMINO'] = pd.to_datetime(dff['Fecha de Término'], format='%Y/%m/%d')

In [30]:
dff.head()

,Region_x,Codigo region,CODIGO COMUNA,Comuna,Poblacion,ID,Nombre,Fecha de Inicio,Fecha de Término,Region_y,n_REGION,INICIO,TERMINO
0,Arica y Parinacota,15,15101.0,Arica,247552.0,1,Arica,2020-04-16,2020-05-15,15,R15,2020-04-16,2020-05-15
1,Arica y Parinacota,15,15101.0,Arica,247552.0,99,Arica Re-Ingreso urbano,2020-07-14,2020-11-09,15,R15,2020-07-14,2020-11-09
2,Tarapacá,1,1107.0,Alto Hospicio,129999.0,57,Alto Hospicio,2020-05-15,2020-10-03,1,R01,2020-05-15,2020-10-03
3,Tarapacá,1,1101.0,Iquique,223463.0,58,Iquique,2020-05-15,2020-10-03,1,R01,2020-05-15,2020-10-03
4,Tarapacá,1,1401.0,Pozo Almonte,17395.0,80,Pozo Almonte (Radio Urbano),2020-06-12,2020-09-28,1,R01,2020-06-12,2020-09-28

In [34]:
dff.drop('n_REGION',axis=1,inplace=True)

In [35]:
dff.drop('Poblacion',axis=1,inplace=True)

In [37]:
dff.drop('Region_x',axis=1,inplace=True)
dff.drop('Comuna',axis=1,inplace=True)
dff.drop('Fecha de Inicio',axis=1,inplace=True)
dff.drop('Fecha de Término',axis=1,inplace=True)
dff.drop('Region_y',axis=1,inplace=True)

In [38]:
dff.head()

,Codigo region,CODIGO COMUNA,ID,Nombre,INICIO,TERMINO
0,15,15101.0,1,Arica,2020-04-16,2020-05-15
1,15,15101.0,99,Arica Re-Ingreso urbano,2020-07-14,2020-11-09
2,1,1107.0,57,Alto Hospicio,2020-05-15,2020-10-03
3,1,1101.0,58,Iquique,2020-05-15,2020-10-03
4,1,1401.0,80,Pozo Almonte (Radio Urbano),2020-06-12,2020-09-28

In [39]:
dff['CODIGO COMUNA'].astype(int)

0      15101
1      15101
2       1107
3       1101
4       1401
       ...
182    12201
183    12401
184    12301
185    12101
186    12101
Name: CODIGO COMUNA, Length: 187, dtype: int32

In [40]:
dfff=dff[['ID','Nombre','INICIO','TERMINO','CODIGO COMUNA', 'Codigo region']]
dfff.head()

,ID,Nombre,INICIO,TERMINO,CODIGO COMUNA,Codigo region
0,1,Arica,2020-04-16,2020-05-15,15101.0,15
1,99,Arica Re-Ingreso urbano,2020-07-14,2020-11-09,15101.0,15
2,57,Alto Hospicio,2020-05-15,2020-10-03,1107.0,1
3,58,Iquique,2020-05-15,2020-10-03,1101.0,1
4,80,Pozo Almonte (Radio Urbano),2020-06-12,2020-09-28,1401.0,1

In [41]:
dfff

,ID,Nombre,INICIO,TERMINO,CODIGO COMUNA,Codigo region
0,1,Arica,2020-04-16,2020-05-15,15101.0,15
1,99,Arica Re-Ingreso urbano,2020-07-14,2020-11-09,15101.0,15
2,57,Alto Hospicio,2020-05-15,2020-10-03,1107.0,1
3,58,Iquique,2020-05-15,2020-10-03,1101.0,1
4,80,Pozo Almonte (Radio Urbano),2020-06-12,2020-09-28,1401.0,1
...,...,...,...,...,...,...
182,184,Cabo de Hornos,2020-12-10,2020-12-25,12201.0,12
183,132,Puerto Natales,2020-09-11,2020-12-25,12401.0,12
184,131,Porvenir,2020-09-11,2020-11-19,12301.0,12
185,8,Punta Arenas,2020-04-01,2020-05-07,12101.0,12
186,110,Punta Arenas Re-ingreso,2020-08-21,2020-12-17,12101.0,12

In [ ]:
dfff['DURACION'] = pd.to_datetime(dff['Fecha de Inicio'], format='%Y/%m/%d')
dff['TERMINO'] = pd.to_datetime(dff['Fecha de Término'], format='%Y/%m/%d')